@model Category
<link rel="stylesheet" href="~/css/AddCatPartstylesheet.css" media="all" />

<div class="modal-header">
    <h5 class="modal-title">Edit Category</h5>
    <button type="button" onclick="cancelForm2()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="EditCategoryForm" method="post" asp-action="SaveEdit" asp-controller="Admin" onsubmit="event.preventDefault()">
    <div asp-validation-summary="All"></div>
    <div>
        <div class="modal-body">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />

            <span asp-validation-for="Name" class="text-danger"></span>
            
            <input type="hidden" class="form-control" asp-for="CategoryId" />
            <input type="hidden" class="form-control" asp-for="InsertionDate" />
            <input type="hidden" class="form-control" asp-for="ModifiedDate" value="@DateTime.Now" />

        </div>
        <div>


            <button id="EditBtn" type="submit" onclick="submitForm4()" class="button-81">Edit</button>
            
        </div>
    </div>





    </div>
</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
<script>
    function cancelForm2() {
        $('#ModalPopup').modal('hide');
    }
</script>