@model WebApplication2.ViewModels.ResetPassword
<link rel="stylesheet" href="~/css/ResetPassPartstylesheet.css" media="all" />

<div class="modal-header">
    <h5 class="modal-title">Reset Password</h5>
    <button type="button" onclick="cancelForm2()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form id="ResetPasswordForm" method="post" asp-action="SaveResetSellerPassword" asp-controller="Admin" onsubmit="event.preventDefault()">
    <div asp-validation-summary="All"></div>
    <div>
        <div class="modal-body">
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <input type="hidden" asp-for="Token" class="form-control" />
            </div>


            </div>
        </div>


        <button id="ResetPassword" type="submit" onclick="submitForm2()" class="button-81">Reset</button>

    </div>
</form>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

}
<script>
    function cancelForm2() {
        $('#ModalPopup').modal('hide');
    }
</script>
