
<link rel="stylesheet" href="~/css/Adminstylesheet.css" media="all" />
<h1 id="header"> <span class="title"> <span class="first-letter">B</span>uy<span class="fourth-letter">B</span>ounty </span>Control Platform...</h1>

<hr />
<a href="Admin/RegisterSeller" type="button" >
    <div class="box-1">
        <div class="btn btn-one">
            <span>Register a new Seller</span>
        </div>
    </div>

</a>
<br>
<br />
<br />
<a href="Admin/ViewAllSellers" type="button">
    <div class="box-1">
        <div class="btn btn-one">
            <span>View All Sellers</span>
        </div>
    </div>

</a>
<br />
<br />
<br>
<a href="Admin/ViewAllCategories" type="button" >
    <div class="box-1">
        <div class="btn btn-one">
            <span>View All Categories</span>
        </div>
    </div>

</a>
<br />
<br />
<br>
<a href="Admin/ViewAllBuyers" type="button" >
    <div class="box-1">
        <div class="btn btn-one">
            <span>View All Buyers</span>
        </div>
    </div>

</a>
<br>
